version: '3.8'
services:
  nextjs:
    image: node:22-alpine
    container_name: selcukkihtir-nextjs-app
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
